{{ 'section-featured-collections.css' | asset_url | stylesheet_tag }}

{% assign settings = section.settings %}
{% assign blocks = section.blocks %}

<div class="featured-collections__wrapper">
  {% for block in blocks %}
  {% assign collection = block.settings.collection %}
  <div class="feeatured-collections__collection-wrapper" {{ block.shopify_attributes }}>
    <div 
         class="feeatured-collections__collection-container page-width" 
         style="{% if block.settings.info_first==true %}flex-direction: row-reverse;{% endif %}">
      <div class="feeatured-collections__collection-media-wrapper" style="background-image:url({{ collection.featured_image | image_url: width: 800 }})">
      </div>
      <div style="min-width:20px; min-height:20px;">&nbsp;</div>
      <div class="feeatured-collections__collection-info-wrapper" style="background:{{ block.settings.info_box_bg }}">
        <div class="feeatured-collections__collection-info-container">
        	<h2>{{ collection.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "t:sections.featured-collections.name",
	"blocks": [
		{
			"type": "collection",
			"name": "t:sections.featured-collections.blocks.collection.name",
			"settings": [
        		{
                    "type": "collection",
                    "id": "collection",
                    "label": "t:sections.featured-collections.blocks.collection.settings.collection.label"
                },
                {
                    "type": "checkbox",
                    "id": "info_first",
                    "label": "t:sections.featured-collections.blocks.collection.settings.info_first.label"
				},
				{
                    "type": "color_background",
                    "id": "info_box_bg",
                    "label": "t:sections.featured-collections.blocks.collection.settings.info_box_bg.label"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
