{{ 'section-rotating-banners.css' | asset_url | stylesheet_tag }}
<script src="{{ 'rotating-banners.js' | asset_url }}" defer="defer"></script>

<div>
    <rotating-banners class="rotating-banners">
        <div class="rotating-banners__container">
            {% for block in section.blocks %}
          	{% assign _product = block.settings.product %}
          	{% assign settings = block.settings %}
                <div class="rotating-banners__item" {{ block.shopify_attributes }}>
                  <div class="rotating-banners__item-title">
                    <h1 style="color:{{settings.product_title_color}}">{{_product.title}}</h1>
                  </div>
                    <div  class="rotating-banners__item-content">
                        <div style="background-image: url({{settings.image | image_url}})" class="rotating-banners__item-media">
                          &nbsp;
                        </div>
                      	<div style="background:{{settings.product_background}}" class="rotating-banners__item-product-container">
                          <div>
                            <div class="rotating-banners__item-product-featured-image">
                              {{_product | image_url: width : 450 | image_tag}}
                            </div>
                            <div class="rotating-banners__item-product-price">
                              {% if _product.compare_at_price != blank %}
                              <span style="font-size:{{settings.product_price_font_size}}px">
                                <s>
                                {{_product.price | money}}
                                </s>
                              </span>
                              <span style="font-size:{{settings.product_compare_at_price_font_size}}px">
                                <s>
                                {{_product.compare_at_price | money}}
                                </s>
                              </span>
                              {%- else -%}
                              <span style="font-size:{{settings.product_price_font_size}}px">
                                <s>
                                {{_product.price | money}}
                                </s>
                              </span>
                              {%- endif -%}
                              
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </rotatin-banners>
</div>
{% schema %}
{
    "name": "t:sections.rotating-banners.name",
    "tag": "section",
    "class": "section",
    "blocks": [
        {
            "type": "slide",
            "name": "t:sections.rotating-banners.blocks.slide.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.rotating-banners.blocks.slide.settings.image"
                },
				{
					"type": "product",
					"id": "product",
					"label": "t:sections.rotating-banners.blocks.slide.settings.product"
				},
				{
					"type": "color",
					"id": "product_title_color",
					"label": "t:sections.rotating-banners.blocks.slide.settings.product_title_color"
				},
				{
                    "type" : "color_background",
                    "id" : "product_background",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_background"
            	},
				{
                    "type" : "number",
                    "id" : "product_price_font_size",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_price_font_size",
					"default": 18
            	},
				{
                    "type" : "number",
                    "id" : "product_compare_at_price_font_size",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_compare_at_price_font_size",
					"default": 22
            	}
            ]
        }
    ]
}
{% endschema %}
