{% style %}
	:root {
		--anim-duration: {{section.settings.anim_duration }}ms;
	}
{% endstyle %}

{{ 'section-rotating-banners.css' | asset_url | stylesheet_tag }}
<script src="{{ 'rotating-banners.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div>
    <rotating-banners id="{{section.id}}" data-autoplay="{{section.settings.autoplay}}"  data-duration="{{section.settings.duration}}" class="rotating-banners">
        <div class="rotating-banners__container">
            <div class="rotating-banners__nav">
              {% if section.settings.nav==true %}
                <a href="javascript:void(0);" class="rotating-banners__nav-up-arrow">
                  {% render 'icon-up-arrow' %}
                </a>
              {% endif %}
              {% if section.settings.dots==true %}
                <div class="rotating-banners__nav-steps">
                  {% for block in section.blocks %}
                    <a href="javascript:void(0);" id="rotating-banners__nav-step-{{forloop.index}}" class="rotating-banners__nav-step">
                      {{forloop.index | add:1}}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
              {% if section.settings.nav==true %}
                <a href="javascript:void(0);" class="rotating-banners__nav-down-arrow">
                  {% render 'icon-down-arrow' %}
                </a>
              {% endif %}
            </div>
            {% for block in section.blocks %}
            {% assign _product = block.settings.product %}
            {% assign settings = block.settings %}
            <div id="rotating-banners__item_{{forloop.index}}" class="rotating-banners__item" {{ block.shopify_attributes }}>
              <div class="rotating-banners__item-title">
                <h1 style="color:{{settings.product_title_color}}">{{_product.title}}</h1>
              </div>
              <div  class="rotating-banners__item-content">
                <div style="background-image: url({{settings.image | image_url}})" class="rotating-banners__item-media">
                  &nbsp;
                </div>
                <div style="background:{{settings.product_background}}" class="rotating-banners__item-media-overlay">
                  &nbsp;
                </div>
                <div style="background:{{settings.product_background}}" class="rotating-banners__item-product-container">
                  <div>
                    <div class="rotating-banners__item-product-featured-image">
                      {{_product | image_url: width : 450 | image_tag}}
                    </div>
                    <div class="rotating-banners__item-product-price">
                      {%- if _product.compare_at_price != blank -%}
                      <span style="padding-right:1rem; font-size:{{settings.product_price_font_size}}px">
                        <s>
                          {{_product.compare_at_price | money}}
                        </s>
                      </span>
                      <span style="font-size:{{settings.product_compare_at_price_font_size}}px">
                        <strong>{{_product.price | money}}</strong>
                      </span>
                      {%- else -%}
                      <span style="font-size:{{settings.product_price_font_size}}px">
                        <strong>{{_product.price | money}}</strong>
                      </span>
                      {%- endif -%}

                    </div>
                    {%- if _product.description !=blank -%}
                    <div class="rotating-banners__item-product-description">
                      <p style="text-align:justify; color:{{settings.product_description_color}}">
                        {{_product.description}}
                      </p>                              
                    </div>
                    {%- endif -%}
                    <div>
                      <product-form class="product-form">
                        <div class="product-form__error-message-wrapper" role="alert" hidden>

                          <span class="product-form__error-message"></span>
                        </div>
                        {%- assign product_form_id = 'product-form-' | append: section.id -%}
                        {%- form 'product', _product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                        <input type="hidden" name="id" value="{{ _product.selected_or_first_available_variant.id }}" disabled>
                        <div class="product-form__buttons">
                          <button
                                  type="submit"
                                  name="add"
                                  class="product-form__submit button  {% if block.settings.show_dynamic_checkout and _product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                  {% if _product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                  >
                            <span>
                              {%- if _product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </span>
                            <div class="loading-overlay__spinner hidden">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </button>
                          {%- if block.settings.show_dynamic_checkout -%}
                          {{ form | payment_button }}
                          {%- endif -%}
                        </div>
                        {%- endform -%}

                      </product-form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
      </div>
    </rotatin-banners>
</div>
{% schema %}
{
    "name": "t:sections.rotating-banners.name",
    "tag": "section",
    "class": "section",
	"settings" : [
		{
			"type": "number",
			"id": "duration",
			"label": "t:sections.rotating-banners.settings.duration.label",
			"info": "t:sections.rotating-banners.settings.duration.info",
			"default": 7000
		},
		{
			"type": "number",
			"id": "anim_duration",
			"label": "t:sections.rotating-banners.settings.anim_duration.label",
			"info": "t:sections.rotating-banners.settings.anim_duration.info",
			"default": 800
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "t:sections.rotating-banners.settings.autoplay.label",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "nav",
			"label": "t:sections.rotating-banners.settings.nav.label",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "dots",
			"label": "t:sections.rotating-banners.settings.dots.label",
			"default": true
		}
	],
    "blocks": [
        {
            "type": "slide",
            "name": "t:sections.rotating-banners.blocks.slide.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.rotating-banners.blocks.slide.settings.image"
                },
				{
					"type": "product",
					"id": "product",
					"label": "t:sections.rotating-banners.blocks.slide.settings.product"
				},
				{
					"type": "color",
					"id": "product_title_color",
					"label": "t:sections.rotating-banners.blocks.slide.settings.product_title_color"
				},
				{
                    "type" : "color_background",
                    "id" : "product_background",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_background"
            	},
				{
                    "type" : "number",
                    "id" : "product_price_font_size",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_price_font_size",
					"default": 18
            	},
				{
                    "type" : "color",
                    "id" : "product_price_color",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_price_color"
            	},
				{
                    "type" : "number",
                    "id" : "product_compare_at_price_font_size",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_compare_at_price_font_size",
					"default": 22
            	},
				{
                    "type" : "color",
                    "id" : "product_compare_at_price_color",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_compare_at_price_color"
            	},
				{
                    "type" : "color",
                    "id" : "product_description_color",
                    "label" : "t:sections.rotating-banners.blocks.slide.settings.product_description_color"
            	}
            ]
        }
    ]
}
{% endschema %}
